*{
	background: #000;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    width: 320px;
    margin: 0 auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    cursor: pointer;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell:hover {
    background-color: lightblue;
}


.game-button{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

#playButton{
	background: #fff;
	color: #000;
	margin-left: 50px;
	height: 40px;
	width: 100px;
        display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

#replayButton{
	background: #fff;
	color: #000;
	margin-left: 50px;
	height: 40px;
	width: 100px;
        display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
